.app-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.icon {
  margin-right: 10px;
}

.spacer {
  flex: 1 1 auto;
}

.container {
  padding: 20px 10px;
}

.version {
  font-weight: lighter;
  font-size: small;
}
