<mat-toolbar class="app-toolbar" color="primary">
  <button mat-button class="toolbar-button main-button" (click)="showList()">
    <mat-icon>restaurant</mat-icon>MEALS
  </button>
  <button mat-button class="toolbar-button" (click)="addNew()">
     NEW
  </button>
  <span class="spacer"></span>
  <span class="version">{{ versionHash() }}</span>
</mat-toolbar>
<div *ngIf="displayForm">
  <div class="container">
    <app-meal-edit
      [inputMeal]="inputMeal"
      (add)="addMeal($event)"
      (update)="updateMeal($event)"
      (delete)="deleteMeal($event)"
      (cancel)="onCancel()"
    ></app-meal-edit>
  </div>
</div>
<div *ngIf="displayList">
  <div class="container">
    <div *ngIf="meals$ | async as meals">
      <app-meal-list
        *ngIf="meals.length > 0; else nodata"
        [meals]="meals"
        (stockChange)="updateMeal($event)"
        (edit)="editMeal($event)"
      ></app-meal-list>
    </div>
  </div>
  <ng-template #nodata> Could not fetch data from the server. </ng-template>
</div>
