<div class="buttons">
  <button
    mat-stroked-button
    (click)="historyVisible ? hideHistory() : showHistory()"
  >
    <mat-icon>{{ historyVisible ? "visibility" : "visibility_off" }}</mat-icon>
    ARCHIVE
  </button>

  <button mat-stroked-button class="btn" (click)="changeSort()">
    <mat-icon>{{ dateAscending ? "arrow_upward" : "arrow_downward" }}</mat-icon>
    DATE
  </button>
</div>

<div *ngIf="visibleMeals.length > 0; else nodata">
  <div *ngFor="let meal of visibleMeals">
    <app-meal-card
      [meal]="meal"
      (stockChange)="updateMeal($event)"
      (edit)="editMeal($event)"
    ></app-meal-card>
  </div>
</div>

<ng-template #nodata>
  No data available.
  <br />
  Try displaying the history.
</ng-template>
