<mat-card>
  <mat-card-header>
    <mat-card-title [style]="'color: ' + getColor()"
      >{{ meal.name | titlecase }} ({{ meal.stock }}/{{
        meal.portions
      }})</mat-card-title
    >
    <mat-card-subtitle>{{ meal.date | date }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button
      mat-icon-button
      [disabled]="meal.stock === 0"
      (click)="decreaseStock()"
    >
      <mat-icon>remove</mat-icon>
    </button>
    <button
      mat-icon-button
      [disabled]="meal.stock === meal.portions"
      (click)="increaseStock()"
    >
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button (click)="copyMeal()">
      <mat-icon>content_copy</mat-icon>
    </button>
    <button mat-icon-button (click)="deleteMeal()">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
