<mat-card class="card">
  <div class="container">
    <div class="left" (click)="onEdit()">
      <div [style]="'color: ' + getColor()">
        <span class="mat-h2">
          {{ meal.stock }}/{{ meal.portions }} {{ getName() | titlecase }}
        </span>
      </div>
      <div class="mat-h4">
        {{ meal.date | date: "shortDate" }}<br />
        Changed:
        {{ meal.modified ? (meal.modified | date : "short") : "N/A" }}
      </div>
    </div>
    <div class="right">
      <button
        mat-icon-button
        [disabled]="meal.stock === meal.portions"
        (click)="increaseStock()"
      >
        <mat-icon>add</mat-icon>
      </button>
      <br />
      <button
        mat-icon-button
        [disabled]="meal.stock === 0"
        (click)="decreaseStock()"
      >
        <mat-icon>remove</mat-icon>
      </button>
    </div>
  </div>
</mat-card>
