<mat-form-field appearance="outline" class="full-width">
  <mat-label>Name</mat-label>
  <input matInput [formControl]="nameFormControl" />
</mat-form-field>

<mat-form-field appearance="outline" class="full-width">
  <mat-label>Portions</mat-label>
  <input
    matInput
    type="number"
    pattern="\d*"
    [formControl]="portionsFormControl"
  />
</mat-form-field>

<mat-form-field appearance="outline" class="full-width">
  <mat-label>Date</mat-label>
  <input matInput [matDatepicker]="picker" [formControl]="dateFormControl" />
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<form [formGroup]="mealForm">
  <div class="btn-container-right">
    <button mat-stroked-button color="default" class="btn" (click)="onCancel()">
      <mat-icon>close</mat-icon>CANCEL
    </button>
    <div *ngIf="isEditMode()">
      <button mat-stroked-button color="warn" class="btn" (click)="onDelete()">
        <mat-icon>delete</mat-icon>DELETE
      </button>
    </div>
    <button
      mat-stroked-button
      color="primary"
      class="btn"
      [disabled]="!isFormValid()"
      (click)="onSubmit()"
    >
      <mat-icon>{{ isEditMode() ? "save" : "add" }}</mat-icon>{{ isEditMode() ? "SAVE" : "ADD" }}
    </button>
  </div>
</form>
